@font-face {
  font-family: down-hill;
  src: url(fonts/DownHill.ttf);
}
@font-face {
  font-family: DKLemonYellowSunl;
  src: url(fonts/DKLemonYellowSun.otf);
}
@font-face {
  font-family: KidsMonday;
  src: url(fonts/KidsMonday.ttf);
}
@font-face {
  font-family: Nathaniel-19;
  src: url(fonts/Nathaniel-19.otf);
}

.main-brand {
  font-family: 'Nathaniel-19', sans-serif;
  color: #FF7A02;
  text-shadow: 0px 5px 10px  #111
}
h3 {
  font-family: 'down-hill', sans-serif;
}

.bg-rosa {
  background-color: #FEC2C2;

  background-image: repeating-linear-gradient(
    #bebebe 0,
    #bebebe 1px,
    transparent 1px,
    transparent 40px
  );

}
.bg-violeta {
  background-color: #CFCDFE;

  background-image: repeating-linear-gradient(
    #bebebe 0,
    #bebebe 1px,
    transparent 1px,
    transparent 40px
  );
}
.bg-amarillo {
  background-color: #FFF6AD;

  background-image: repeating-linear-gradient(
    #bebebe 0,
    #bebebe 1px,
    transparent 1px,
    transparent 40px
  );
}
.bg-blanco {
  background-color: #f5f5f1;

  background-image: repeating-linear-gradient(
    #bebebe 0,
    #bebebe 1px,
    transparent 1px,
    transparent 40px
  );
}

.img-hover:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
}

.selected {
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
  border-color: rgb(36, 255, 36) !important;
  
}



