@font-face {
  font-family: down-hill;
  src: url(fonts/DownHill.ttf);
}
@font-face {
  font-family: DKLemonYellowSunl;
  src: url(fonts/DKLemonYellowSun.otf);
}
@font-face {
  font-family: KidsMonday;
  src: url(fonts/KidsMonday.ttf);
}
@font-face {
  font-family: Nathaniel-19;
  src: url(fonts/Nathaniel-19.otf);
}

.main-brand {
  font-family: 'Nathaniel-19', sans-serif;
  color: #FF7A02;
  text-shadow: 0px 5px 10px  #111
}
.fuente-1{
  font-family: 'down-hill', sans-serif;
}
.letra-titulo {
  font-family: 'KidsMonday', sans-serif;
}
.letra-circulo {
  font-family: 'KidsMonday', sans-serif;
  font-size: 8vw;
}

.libro {
  box-shadow: 10px 10px 20px  #111;
}

.bg-rosa {
  background-color: #FEC2C2;
}

.bg-amarillo {
  background-color: #FFF6AD;
}


.img-hover:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
}

.selected {
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
  border:greenyellow solid 3px !important;
}
.adelante {
  z-index: 1;
}
.adelante-2 {
  z-index: 2;
}
.letra-grande {
  font-size: 4.5vh;
}
.letra-chica {
  font-size: 2vw;
}
.alto-3{
  height: 2.5vw ;
}
.alto-5{
  height: 5vw ;
}
.alto-10{
  height: 10vw ;
}
.alto-12{
  height: 12vw ;
}
.alto-22{
  height: 22vw ;
}
.alto-15{
  height: 15vw ;
}
.alto-20{
  height: 20vw ;
}
.alto-25{
  height: 25vw ;
}
.alto-30{
  height: 30vw ;
}
.alto-35{
  height: 35vw ;
}
.ancho-3 {
  width: 3vw;
}
.ancho-5 {
  width: 5vw;
}
.ancho-7 {
  width: 7vw;
}
.ancho-10 {
  width: 10vw;
}
.alto-libro {
  height: 85vh;
}
.circulo{
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin: 1vw;
}
.bg-naranja{
background-color: #fd7e14;
}
.bg-violeta{
  background-color: #6f42c1;
}
.bg-fucsia{
  background-color: #d63384;
}
.redondeado{
  border-radius: 20%;
}